@import '../variables';

.form{
    background-color: $form-blue;
    padding: 40px;

    .btn {
        background-color: $btn-blue;
        border:none;
        color:beige;
    }

}

.form-control{
    background-color: rgba(0, 0, 0, 0.442)!important;
    border:none;
}